
.app-container {
  /* font-family: 'Georgia', serif;   */
  background-color: #F4F4F4; 
  padding: 40px 20px;
  text-align: center;
  color: #333333; 
  background-image: url(./haikei.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  background-size: cover;
}

.app-title {
  font-size: 3.0rem;
  font-weight: 700;
  color: #4a4a4a; 
  text-align: center;
  /* font-family: 'Georgia', 'Times New Roman', serif; */
  margin-bottom: 35px;
}